/* update for main UI */
body{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer{
    position: static;
}


/*css for about.html */
:root{
    --green: #2e6a87;
    --blue: #eaf4fc;
    --white: #fffaff;
    --black: #180614;
    --font-white: #f8fbf8;
    --gray: #acb2b4;
}

main{
    margin: 20px 40px;
    max-width: 1500px;
}

h1, h4, h5, h6, p{
    font-family: 'Mulish', sans-serif;
    color: var(--black);
}

h3{
    font-family: "Zen Maru Gothic", serif;
    color: var(--black);
}

h1{
    font-size: 40px;
    color: var(--black);
}

#content-top{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    gap: 40px;
}

#overview-img{
    width: 60%;
    min-height: 400px;
    border-radius: 20px;
    background-image: url(../img/aboutme.png);
    border: 2px solid --green;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    box-shadow: 0px 5px 15px 0px rgba(29, 55, 82, 0.35);   
}

#overview{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#overview-top{
    padding: 10px;
    width: 100%;
    background-color: var(--blue);
    border: 2px solid var(--green);
    flex-grow: 2;
    border-radius: 20px;
    box-shadow: 0px 5px 15px 0px rgba(29, 55, 82, 0.35);
}

#overview-top-bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#overview-bottom{
    padding: 10px;
    width: 100%;
    background-color: var(--blue);
    border: 2px solid var(--green);
    flex-grow: 1;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 5px 15px 0px rgba(29, 55, 82, 0.35);
}

#overview h3{
    font-size: 35px;
}

#overview h6{
    margin-bottom: 10px;
    font-size: 20px;
}

#overview p{
    margin-bottom: 3px;
    font-size: 18px;
}

.bold{
    margin-right: 2px;
    font-family: "Agdasima", sans-serif;
    font-weight: bold;
}

#content-bottom h4{
    font-size: 30px;
}

#decorated-text{
    position: relative;
}

#decorated-text::before{
    position: absolute;
    left: -5px;
    bottom: 5px;
    width: 100%;
    height: 8px;
    transform: skew(-45deg);
    background-image: repeating-linear-gradient(90deg, transparent 0 5px, #89c3eb 5px 10px);
    content: '';
    z-index: -1;
}

#summary p{
    margin-top: 10px;
    font-size: 18px;
}

#summary h5{
    margin-top: 15px;
    font-size: 23px;
}

#experience, #education{
    margin-top: 23px;
    margin-bottom: 23px;
    padding-top: 23px;
    border-top: 2px solid var(--green);
}

#experience h4, #education h4{
    margin-bottom: 15px;
}

#experience h5, #education h5{
    margin-bottom: 6px;
    font-size: 23px;
}

#experience p, #education p{
    margin-bottom: 10px;
    color: var(--gray);
    font-size: 18px;
}

@media (max-width: 900px) {
    #content-top{
        flex-direction: column;
    }

    #overview{
        width: 100%;
    }

    #overview-img{
        width: 100%;
        min-height: 400px;
    }

    #overview-top{
        width: 100%;
    }
}