:root{
    --green: #2e6a87;
    --white: #fffaff;
    --black: #180614;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    width: 100%;
    height: 100%;
    background-color: var(--white);
}

header{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 5px solid var(--green);
    background-color: var(--white);
    position: relative;
}

a{
    text-decoration: none;
}

header h2{
    color: var(--green);
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
}

footer{
    width: 100%;
    bottom: 0;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    border-top: 5px solid var(--green);
    background-color: #FFFAFA;
}

footer p{
    font-size: 16px;
    font-family: 'Mulish', sans-serif;
    color: var(--black);
}

@media (max-width: 500px) {
    header h2{
        text-align: center;
        font-size: 18px;
    }

    .css-br::before{
        content: "\A";
        white-space: pre;
    }

    footer p{
        font-size: 12px;
    }
}

@media (max-width: 900px) {
    body{
        height: auto;
    }
    footer{
        position: static;
    }
}
