:root{
    --green: #2e6a87;
    --blue: #eaf4fc;
    --white: #fffaff;
    --black: #180614;
    --font-white: #f8fbf8;
}

main{
    height: calc(100vh - 130px);
    position: relative;
    background-color: #232741;
}

#particles-js{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

h2, h3, #en{
    font-family: 'Mulish', sans-serif;
}

#ru{
    font-family: 'Times New Roman', Times, serif;
}

#ja{
    font-family: "Zen Maru Gothic", serif;
}

#greeting{
    padding: 50px 40px;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#greeting h2{
    margin-bottom: 20px;
    font-size: 35px;
    color: var(--font-white);
    text-align: center;
}

#greeting h3{
    margin-top: 20px;
    font-size: 28px;
    color: var(--font-white);
    text-align: center;
}

#lang-buttons{
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
}

.lang-button{
    min-width: 250px;
    min-height: 100px;
    color: var(--font-white);
	font-weight: bold;
	background: var(--green);
	position: relative;
	transition: 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}

.lang-button p{
    font-size: 35px;
    font-weight: 800;
}

.lang-button:hover {
    background: var(--font-white);
    color: var(--green);
}

#en:hover{
    background-image: url(../img/button_en.png);
    color: var(--green);
    -webkit-text-stroke: 2px #000;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color:rgba(255,255,255,0.6);
    background-blend-mode:lighten;
}

#ru:hover{
    background-image: url(../img/button_ru.png);
    color: var(--green);
    -webkit-text-stroke: 2px #000;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color:rgba(255,255,255,0.6);
    background-blend-mode:lighten;
}

#ja:hover{
    background-image: url(../img/button_ja.png);
    color: var(--green);
    -webkit-text-stroke: 2px #000;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color:rgba(255,255,255,0.6);
    background-blend-mode:lighten;
}

.lang-button:before, .lang-button:after {
    box-sizing: inherit;
    content: "";
    position: absolute;
    border: 4px solid transparent;
    width: 0;
    height: 0;
}
.lang-button:before {
    top: 0;
    left: 0;
}
.lang-button:after {
    bottom: 0;
    right: 0;
}
.lang-button:hover:before, .lang-button:hover:after {
    width: 100%;
    height: 100%;
}
.lang-button:hover:before {
    border-top-color: var(--green);
    border-right-color: var(--green);
    transition: width 0.15s ease-out, height 0.15s ease-out 0.15s;
}
.lang-button:hover:after {
    border-bottom-color: var(--green);
    border-left-color: var(--green);
    transition: border-color 0s ease-out 0.2s, width 0.15s ease-out 0.2s, height 0.15s ease-out 0.3s;
}

@media (max-width: 900px){
    main{
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #greeting{
        margin-top: 80px;
        height: auto;
    }

    #lang-buttons{
        margin-bottom: 100px;
        height: auto;
        flex-direction: column;
        align-items: center;
    }

    /*update for header and footer*/
    body{
        position: relative;
    }

    header{
        position: absolute;
        top: 0;
        z-index: 1;
    }

    footer{
        position: absolute;
        bottom: 0;
    }
}