@charset "utf-8";

div{
    height: 500px;
}

.bg-001{
    background: url(./img/bg-cat.png) left bottom no-repeat,
                url(./img/bg-stripe.png) center center repeat;
}

.bg-002{
    background: url(./img/bg-frame.png) center center repeat,
                linear-gradient(-135deg, #ffd5c9, #ff6464);
}